[
 {mlapi, [
          {protocol, "https"},
          {host, "api.mercadolibre.com"},
          %% {cache_nodes, [node()]},
          {output_format, proplist},
          {date_format, datetime},
          %% By default cache entries are considered valid for 1 hour
          {cache_time_to_live, 3600}
        ]}
].
