[
 {mlapi, [
          {protocol, "https"},
          {host, "api.mercadolibre.com"},
          %% {cache_nodes, [node()]},
          {format, proplist},
          {date_format, iso8601},
          %% By default cache entries are considered valid for 1 hour
          {cache_ttl, 3600}
        ]}
].
