{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  fail_on_warning
 ]}.

{edoc_opts, [{application, ["mlapi"]}]}.

%% Options for running dialyzer
%% {plt, PltFile}
%% 'src': run Dialyzer on the source files as in 'dialyzer --src'
%% {warnings, [WarnOpts]}: turn on/off Dialyzer warnings
{dialyzer_opts, [{plt, "mlapi.plt"}, src,
                 {warnings, [no_return, race_conditions, underspecs, behaviours]}
                ]}.

{deps, [
        %% ibrowse for doing HTTP requests
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}},
	%% This module strives to prepare an EEP0018 implemenation (for Erlang <-> json interaction)
	%% {eep0018, ".*", {git, "https://github.com/dizzyd/eep0018.git", "master"}}
	{json, ".*", {git, "https://github.com/davisp/eep0018.git", "master"}}
       ]}.
