{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors
 ]}.

{edoc_opts, [{application, ["mlapi"]}]}.

{deps, [
        %% ibrowse for doing HTTP requests
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}},
        %% Binary string library
        {bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", "master"}},
        %% Erlang streaming JSON library
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
        %% KVC - Key Value Coding for Erlang data structures
	{kvc, ".*", {git, "https://github.com/etrepum/kvc.git", "master"}},
        %% GNU getopt-compatible command line parsing library
	{getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}}
       ]}.
